<carousel>
  <slide>
    <img src="/assets/images/speed.jpeg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Welcome to the fastest broadband service in this universe.</h3>
      <h5>nahi lega tho regret karega !</h5>
    </div>
  </slide>
  <slide>
    <img src="/assets/images/wherever.jpeg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>No matter where you are, we've got you covered.</h3>
      <h5>Providing the best connections throughout the world.</h5>
    </div>
  </slide>
  <slide>
    <img src="assets/images/festive.jpeg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Festive Offers</h3>
      <h5>Avail the best of offers during the festive season.</h5>
    </div>
  </slide>
  <slide>
    <img src="/assets/images/help.jpeg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Need Help? </h3>
      <h5>We are here for you.</h5>
    </div>
  </slide>
</carousel>