.la{
    background-image: url("../../assets/images/an8.jpeg");
}
#searchForm {
	position:absolute;
  	top:40%;
}
.srch{
    margin-left: 5px;
    margin-top: 5px;
}
.btn{
    margin-left: 20px;
}
.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}