<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hover Effect Style</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        
        
        <!-- Hover Effect Style : Demo - 5 -->
        <div class="container mt-40">
            <h3 class="text-center" ><strong>EMPLOYEES</strong></h3>
            <div class="row mt-30">
                <div class="col-md-4 col-sm-6">
                    <div class="box5">
                        <img src="http://bestjquery.com/tutorial/hover-effect/demo160/images/img-1.jpg" alt="">
                        <ul class="icon">
                               
                            <!-- <li><a href="#" class="fa fa-search"></a></li>
                            <li><a href="#" class="fa fa-link"></a></li> -->
                        </ul>
                        <div class="box-content">
                            <h3 class="title">Jyothsna</h3>
                            <span class="post">Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box5">
                        <img src="http://bestjquery.com/tutorial/hover-effect/demo160/images/img-2.jpg" alt="">
                        <ul class="icon">
                            <li><a href="#" class="fa fa-search"></a></li>
                            <li><a href="#" class="fa fa-link"></a></li>
                        </ul>
                        <div class="box-content">
                            <h3 class="title">Manasa</h3>
                            <span class="post">Web Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box5">
                        <img src="http://bestjquery.com/tutorial/hover-effect/demo160/images/img-3.jpg" alt="">
                        <ul class="icon">
                            <li><a href="#" class="fa fa-search"></a></li>
                            <li><a href="#" class="fa fa-link"></a></li>
                        </ul>
                        <div class="box-content">
                            <h3 class="title">Kaushik</h3>
                            <span class="post">Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-40">
          <!-- <h3 class="text-center">Hover Effect Style : Demo - 5</h3> -->
          <div class="row mt-30">
              <div class="col-md-4 col-sm-6">
                  <div class="box5">
                      <img src="http://bestjquery.com/tutorial/hover-effect/demo160/images/img-1.jpg" alt="">
                      <ul class="icon">
                          <li><a href="#" class="fa fa-search"></a></li>
                          <li><a href="#" class="fa fa-link"></a></li>
                      </ul>
                      <div class="box-content">
                          <h3 class="title">Laboni</h3>
                          <span class="post">Software Engineer</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="box5">
                      <img src="http://bestjquery.com/tutorial/hover-effect/demo160/images/img-2.jpg" alt="">
                      <ul class="icon">
                          <li><a href="#" class="fa fa-search"></a></li>
                          <li><a href="#" class="fa fa-link"></a></li>
                      </ul>
                      <div class="box-content">
                          <h3 class="title">Navneet</h3>
                          <span class="post">R&D</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="box5">
                      <img src="http://bestjquery.com/tutorial/hover-effect/demo160/images/img-3.jpg" alt="">
                      <ul class="icon">
                          <li><a href="#" class="fa fa-search"></a></li>
                          <li><a href="#" class="fa fa-link"></a></li>
                      </ul>
                      <div class="box-content">
                          <h3 class="title">Krishna</h3>
                          <span class="post">Web Designer</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        
        
       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    </body>
</html>